streamlit
pandas==2.2.3
numpy==1.26.4
scikit-learn
python-dotenv
requests
beautifulsoup4==4.12.3
matplotlib==3.9.2
IPython
langchain==0.2.16
langchain-openai==0.1.25
pydantic>=2.0.0
hnswlib==0.6.1  # Latest stable version at the time of writing
swig
langchain-community


